# Obtenha sua API key em: https://reqres.in/signup
REQRES_API_KEY=reqres_7b4880206ffa4e6b8429a7291998c7c5

# Parametrização do workload (opcionais - usam defaults dos scripts se não definidos)
# K6_BASE_URL=https://reqres.in/api
# K6_VUS=500
# K6_DURATION=3m
# K6_RAMP_UP=30s
# K6_RATE=20

# Observabilidade - InfluxDB (opcional)
# K6_INFLUXDB_URL=http://localhost:8086/k6

# Observabilidade - Prometheus Remote Write (opcional)
# K6_PROMETHEUS_RW_SERVER_URL=http://localhost:9090/api/v1/write
# K6_PROMETHEUS_RW_USERNAME=
# K6_PROMETHEUS_RW_PASSWORD=
# K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM=true
